
.text-white {
    color: white;
  }
  .text-center {
    text-align: center;
  }
  
  .pt-3 {
    padding-top: 1rem;
  }
  .mt-3 {
    margin-top: 3rem;
  }
  .row-cols-3 {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .col {
    flex: 0 0 33.33%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .pt-2 {
    padding-top: 0.5rem !important;
  }
  
  .g-3 {
    gap: 1rem;
  }
.main-background {
    background-color: rgba(40, 55, 71, 0.6);
    color: #fff; 
    padding: 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }
  
  .cityname {
    text-align: center;
    margin-top: 20px;
  }
  
  .display-2 {
    font-size: 2.5rem;
  }
  
.city_information {
    background-color: #34495e;
    padding: 20px;
  }
  
  .city_info {
    text-align: center;
  }
  
  .temperature {
    background-color: rgba(44, 62, 80, 0.7);
    border-radius: 10px;
    padding: 10px;
  }
  
  .temp_data {
    display: flex;
    align-items: center;
  }
  
  .today_temp {
    flex: 1;
  }
  
  .image_div {
    flex: 1;
  }
  
  
  
  .rise-set-time {
    display: flex;
    justify-content: space-around;
  }
  
  .other_data {
    background-color: rgba(52, 73, 94, 0.7); /* Background color for other data section */
    border-radius: 10px;
    padding: 20px; 
    margin-top: 20px; 
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  
  .properties {
    text-align: center;
  }
.btn{
   
    
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #D2B68A;
    color: #222D52;
    font-weight: 600;
    
}
  
  